@{
    ViewData["Title"] = "Home Page";
}
<div class="text-center">
    <h1 class="display-2">Welcome to our Report Site</h1>
    <h2 class="display-4">Please Log In</h2>
    <br />
    <p>If you want to use our site you need to have an account.</p>
</div>